@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../../font/fontello.eot?15491985");
  src: url("../../font/fontello.eot?15491985#iefix") format("embedded-opentype"), url("../../font/fontello.woff2?15491985") format("woff2"), url("../../font/fontello.woff?15491985") format("woff"), url("../../font/fontello.ttf?15491985") format("truetype"), url("../../font/fontello.svg?15491985#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?42286263#fontello') format('svg');
    }
  }
  */
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?49654705#fontello') format('svg');
    }
  }
  */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-tick:before {
  content: '\e800'; }

/* '' */
.icon-avatar:before {
  content: '\e801'; }

/* '' */
.icon-cross:before {
  content: '\e802'; }

/* '' */
.icon-building:before {
  content: '\e803'; }

/* '' */
.icon-back:before {
  content: '\e804'; }

/* '' */
.icon-device:before {
  content: '\e805'; }

/* '' */
.icon-caret:before {
  content: '\e806'; }

/* '' */
.icon-users:before {
  content: '\e807'; }

/* '' */
.icon-instance:before {
  content: '\e808'; }

/* '' */
.icon-user:before {
  content: '\e809'; }

/* '' */
.icon-lock:before {
  content: '\e80a'; }

/* '' */
.icon-user-1:before {
  content: '\e80b'; }

/* '' */
.icon-calendar:before {
  content: '\e80c'; }

/* '' */
.icon-x-circle:before {
  content: '\e80d'; }

/* '' */
.icon-plus-circle:before {
  content: '\e80e'; }

/* '' */
.icon-edit:before {
  content: '\e80f'; }

/* '' */
.icon-settings:before {
  content: '\e810'; }

/* '' */
.icon-timeline:before {
  content: '\e811'; }

/* '' */
.icon-mail:before {
  content: '\e812'; }

/* '' */
.icon-search:before {
  content: '\e813'; }

/* '' */
.icon-basket:before {
  content: '\e814'; }

/* '' */
.icon-th-large:before {
  content: '\e815'; }

/* '' */
.icon-grid:before {
  content: '\e816'; }

/* '' */
.icon-group-55:before {
  content: '\e817'; }

/* '' */
.icon-eye-off:before {
  content: '\e818'; }

/* '' */
.icon-eye:before {
  content: '\e819'; }

/* '' */
.icon-chart-pie:before {
  content: '\f200'; }

/* '' */
html {
  overflow-x: hidden; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #4D4D4D;
  letter-spacing: 0.01em; }

html,
body {
  min-height: 100%;
  height: 100%; }
  @media (max-width: 767px) {
    html,
    body {
      height: auto; } }

h1 {
  font-size: 25px; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4D4D4D;
  font-weight: 400; }

a {
  color: #667ADD;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  a:hover {
    color: #2d47ca; }
  a:focus {
    text-decoration: none;
    color: #667ADD; }
    a:focus:hover {
      text-decoration: underline; }

dt {
  float: left;
  margin-right: 5px; }

dd {
  margin-bottom: 15px; }
  dd .label {
    display: inline-block;
    margin: 0 4px 4px 0;
    padding: 5px 10px; }

dd:after {
  display: table;
  content: "";
  clear: both; }

.posrel {
  position: relative; }

.btn {
  font-size: 14px;
  font-weight: 700;
  padding: 15px 10px;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  text-decoration: none; }
  .btn:focus {
    text-decoration: none; }
    .btn:focus:hover {
      text-decoration: none; }

.btn-xs {
  width: 100px; }

.btn-sm {
  width: 140px; }

.btn-md {
  width: 200px; }

.btn-primary {
  color: #ffffff;
  background-color: #FEE200;
  border-color: #FEE200;
  display: inline-block;
  margin-right: 10px; }
  .btn-primary:focus, .btn-primary.focus {
    color: #ffffff;
    background-color: #cbb500;
    border-color: #7f7100; }
  .btn-primary:hover {
    color: #ffffff;
    background-color: #cbb500;
    border-color: #c1ac00; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #cbb500;
    border-color: #c1ac00; }
    .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
    .open > .btn-primary.dropdown-toggle:hover,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle.focus {
      color: #ffffff;
      background-color: #a79500;
      border-color: #7f7100; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary.focus {
    background-color: #FEE200;
    border-color: #FEE200; }
  .btn-primary .badge {
    color: #FEE200;
    background-color: #ffffff; }

.btn-transparent {
  color: #FEE200;
  background-color: transparent;
  border-color: #FEE200;
  display: inline-block;
  margin-right: 10px; }
  .btn-transparent:focus, .btn-transparent.focus {
    color: #FEE200;
    background-color: rgba(0, 0, 0, 0);
    border-color: #7f7100; }
  .btn-transparent:hover {
    color: #FEE200;
    background-color: rgba(0, 0, 0, 0);
    border-color: #c1ac00; }
  .btn-transparent:active, .btn-transparent.active,
  .open > .btn-transparent.dropdown-toggle {
    color: #FEE200;
    background-color: rgba(0, 0, 0, 0);
    border-color: #c1ac00; }
    .btn-transparent:active:hover, .btn-transparent:active:focus, .btn-transparent:active.focus, .btn-transparent.active:hover, .btn-transparent.active:focus, .btn-transparent.active.focus,
    .open > .btn-transparent.dropdown-toggle:hover,
    .open > .btn-transparent.dropdown-toggle:focus,
    .open > .btn-transparent.dropdown-toggle.focus {
      color: #FEE200;
      background-color: rgba(0, 0, 0, 0);
      border-color: #7f7100; }
  .btn-transparent:active, .btn-transparent.active,
  .open > .btn-transparent.dropdown-toggle {
    background-image: none; }
  .btn-transparent.disabled:hover, .btn-transparent.disabled:focus, .btn-transparent.disabled.focus, .btn-transparent[disabled]:hover, .btn-transparent[disabled]:focus, .btn-transparent[disabled].focus,
  fieldset[disabled] .btn-transparent:hover,
  fieldset[disabled] .btn-transparent:focus,
  fieldset[disabled] .btn-transparent.focus {
    background-color: transparent;
    border-color: #FEE200; }
  .btn-transparent .badge {
    color: transparent;
    background-color: #FEE200; }
  .btn-transparent:hover {
    color: #ffffff;
    background-color: #FEE200;
    border-color: #FEE200; }
    .btn-transparent:hover:focus, .btn-transparent:hover.focus {
      color: #ffffff;
      background-color: #cbb500;
      border-color: #7f7100; }
    .btn-transparent:hover:hover {
      color: #ffffff;
      background-color: #cbb500;
      border-color: #c1ac00; }
    .btn-transparent:hover:active, .btn-transparent:hover.active,
    .open > .btn-transparent:hover.dropdown-toggle {
      color: #ffffff;
      background-color: #cbb500;
      border-color: #c1ac00; }
      .btn-transparent:hover:active:hover, .btn-transparent:hover:active:focus, .btn-transparent:hover:active.focus, .btn-transparent:hover.active:hover, .btn-transparent:hover.active:focus, .btn-transparent:hover.active.focus,
      .open > .btn-transparent:hover.dropdown-toggle:hover,
      .open > .btn-transparent:hover.dropdown-toggle:focus,
      .open > .btn-transparent:hover.dropdown-toggle.focus {
        color: #ffffff;
        background-color: #a79500;
        border-color: #7f7100; }
    .btn-transparent:hover:active, .btn-transparent:hover.active,
    .open > .btn-transparent:hover.dropdown-toggle {
      background-image: none; }
    .btn-transparent:hover.disabled:hover, .btn-transparent:hover.disabled:focus, .btn-transparent:hover.disabled.focus, .btn-transparent:hover[disabled]:hover, .btn-transparent:hover[disabled]:focus, .btn-transparent:hover[disabled].focus,
    fieldset[disabled] .btn-transparent:hover:hover,
    fieldset[disabled] .btn-transparent:hover:focus,
    fieldset[disabled] .btn-transparent:hover.focus {
      background-color: #FEE200;
      border-color: #FEE200; }
    .btn-transparent:hover .badge {
      color: #FEE200;
      background-color: #ffffff; }

.warning .btn-primary {
  color: #ffffff;
  background-color: #ffc107;
  border-color: #ffc107; }
  .warning .btn-primary:focus, .warning .btn-primary.focus {
    color: #ffffff;
    background-color: #d39e00;
    border-color: #876500; }
  .warning .btn-primary:hover {
    color: #ffffff;
    background-color: #d39e00;
    border-color: #c99700; }
  .warning .btn-primary:active, .warning .btn-primary.active,
  .open > .warning .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #d39e00;
    border-color: #c99700; }
    .warning .btn-primary:active:hover, .warning .btn-primary:active:focus, .warning .btn-primary:active.focus, .warning .btn-primary.active:hover, .warning .btn-primary.active:focus, .warning .btn-primary.active.focus,
    .open > .warning .btn-primary.dropdown-toggle:hover,
    .open > .warning .btn-primary.dropdown-toggle:focus,
    .open > .warning .btn-primary.dropdown-toggle.focus {
      color: #ffffff;
      background-color: #af8300;
      border-color: #876500; }
  .warning .btn-primary:active, .warning .btn-primary.active,
  .open > .warning .btn-primary.dropdown-toggle {
    background-image: none; }
  .warning .btn-primary.disabled:hover, .warning .btn-primary.disabled:focus, .warning .btn-primary.disabled.focus, .warning .btn-primary[disabled]:hover, .warning .btn-primary[disabled]:focus, .warning .btn-primary[disabled].focus,
  fieldset[disabled] .warning .btn-primary:hover,
  fieldset[disabled] .warning .btn-primary:focus,
  fieldset[disabled] .warning .btn-primary.focus {
    background-color: #ffc107;
    border-color: #ffc107; }
  .warning .btn-primary .badge {
    color: #ffc107;
    background-color: #ffffff; }

.warning .btn-transparent {
  color: #ffc107;
  background-color: transparent;
  border-color: #ffc107; }
  .warning .btn-transparent:focus, .warning .btn-transparent.focus {
    color: #ffc107;
    background-color: rgba(0, 0, 0, 0);
    border-color: #876500; }
  .warning .btn-transparent:hover {
    color: #ffc107;
    background-color: rgba(0, 0, 0, 0);
    border-color: #c99700; }
  .warning .btn-transparent:active, .warning .btn-transparent.active,
  .open > .warning .btn-transparent.dropdown-toggle {
    color: #ffc107;
    background-color: rgba(0, 0, 0, 0);
    border-color: #c99700; }
    .warning .btn-transparent:active:hover, .warning .btn-transparent:active:focus, .warning .btn-transparent:active.focus, .warning .btn-transparent.active:hover, .warning .btn-transparent.active:focus, .warning .btn-transparent.active.focus,
    .open > .warning .btn-transparent.dropdown-toggle:hover,
    .open > .warning .btn-transparent.dropdown-toggle:focus,
    .open > .warning .btn-transparent.dropdown-toggle.focus {
      color: #ffc107;
      background-color: rgba(0, 0, 0, 0);
      border-color: #876500; }
  .warning .btn-transparent:active, .warning .btn-transparent.active,
  .open > .warning .btn-transparent.dropdown-toggle {
    background-image: none; }
  .warning .btn-transparent.disabled:hover, .warning .btn-transparent.disabled:focus, .warning .btn-transparent.disabled.focus, .warning .btn-transparent[disabled]:hover, .warning .btn-transparent[disabled]:focus, .warning .btn-transparent[disabled].focus,
  fieldset[disabled] .warning .btn-transparent:hover,
  fieldset[disabled] .warning .btn-transparent:focus,
  fieldset[disabled] .warning .btn-transparent.focus {
    background-color: transparent;
    border-color: #ffc107; }
  .warning .btn-transparent .badge {
    color: transparent;
    background-color: #ffc107; }
  .warning .btn-transparent:hover {
    color: #ffffff;
    background-color: #ffc107;
    border-color: #ffc107; }
    .warning .btn-transparent:hover:focus, .warning .btn-transparent:hover.focus {
      color: #ffffff;
      background-color: #d39e00;
      border-color: #876500; }
    .warning .btn-transparent:hover:hover {
      color: #ffffff;
      background-color: #d39e00;
      border-color: #c99700; }
    .warning .btn-transparent:hover:active, .warning .btn-transparent:hover.active,
    .open > .warning .btn-transparent:hover.dropdown-toggle {
      color: #ffffff;
      background-color: #d39e00;
      border-color: #c99700; }
      .warning .btn-transparent:hover:active:hover, .warning .btn-transparent:hover:active:focus, .warning .btn-transparent:hover:active.focus, .warning .btn-transparent:hover.active:hover, .warning .btn-transparent:hover.active:focus, .warning .btn-transparent:hover.active.focus,
      .open > .warning .btn-transparent:hover.dropdown-toggle:hover,
      .open > .warning .btn-transparent:hover.dropdown-toggle:focus,
      .open > .warning .btn-transparent:hover.dropdown-toggle.focus {
        color: #ffffff;
        background-color: #af8300;
        border-color: #876500; }
    .warning .btn-transparent:hover:active, .warning .btn-transparent:hover.active,
    .open > .warning .btn-transparent:hover.dropdown-toggle {
      background-image: none; }
    .warning .btn-transparent:hover.disabled:hover, .warning .btn-transparent:hover.disabled:focus, .warning .btn-transparent:hover.disabled.focus, .warning .btn-transparent:hover[disabled]:hover, .warning .btn-transparent:hover[disabled]:focus, .warning .btn-transparent:hover[disabled].focus,
    fieldset[disabled] .warning .btn-transparent:hover:hover,
    fieldset[disabled] .warning .btn-transparent:hover:focus,
    fieldset[disabled] .warning .btn-transparent:hover.focus {
      background-color: #ffc107;
      border-color: #ffc107; }
    .warning .btn-transparent:hover .badge {
      color: #ffc107;
      background-color: #ffffff; }

.btn-secondary {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999; }
  .btn-secondary:focus, .btn-secondary.focus {
    color: #ffffff;
    background-color: gray;
    border-color: #595959; }
  .btn-secondary:hover {
    color: #ffffff;
    background-color: gray;
    border-color: #7a7a7a; }
  .btn-secondary:active, .btn-secondary.active,
  .open > .btn-secondary.dropdown-toggle {
    color: #ffffff;
    background-color: gray;
    border-color: #7a7a7a; }
    .btn-secondary:active:hover, .btn-secondary:active:focus, .btn-secondary:active.focus, .btn-secondary.active:hover, .btn-secondary.active:focus, .btn-secondary.active.focus,
    .open > .btn-secondary.dropdown-toggle:hover,
    .open > .btn-secondary.dropdown-toggle:focus,
    .open > .btn-secondary.dropdown-toggle.focus {
      color: #ffffff;
      background-color: #6e6e6e;
      border-color: #595959; }
  .btn-secondary:active, .btn-secondary.active,
  .open > .btn-secondary.dropdown-toggle {
    background-image: none; }
  .btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled.focus, .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus, .btn-secondary[disabled].focus,
  fieldset[disabled] .btn-secondary:hover,
  fieldset[disabled] .btn-secondary:focus,
  fieldset[disabled] .btn-secondary.focus {
    background-color: #999999;
    border-color: #999999; }
  .btn-secondary .badge {
    color: #999999;
    background-color: #ffffff; }

.btn-default {
  color: #FEE200;
  background-color: #f1f9ff;
  border-color: #f1f9ff; }
  .btn-default:focus, .btn-default.focus {
    color: #FEE200;
    background-color: #bee3ff;
    border-color: #72c2ff; }
  .btn-default:hover {
    color: #FEE200;
    background-color: #bee3ff;
    border-color: #b4dfff; }
  .btn-default:active, .btn-default.active,
  .open > .btn-default.dropdown-toggle {
    color: #FEE200;
    background-color: #bee3ff;
    border-color: #b4dfff; }
    .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus,
    .open > .btn-default.dropdown-toggle:hover,
    .open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle.focus {
      color: #FEE200;
      background-color: #9ad4ff;
      border-color: #72c2ff; }
  .btn-default:active, .btn-default.active,
  .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus,
  fieldset[disabled] .btn-default:hover,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default.focus {
    background-color: #f1f9ff;
    border-color: #f1f9ff; }
  .btn-default .badge {
    color: #f1f9ff;
    background-color: #FEE200; }

.btn-back {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none !important;
  color: white !important;
  position: relative;
  padding: 10px;
  overflow: hidden;
  display: inline-block; }
  .btn-back i {
    margin-right: 10px;
    color: white;
    vertical-align: middle;
    font-size: 8px; }
  .btn-back:after {
    content: "";
    display: block;
    height: 2px;
    background: white;
    bottom: 0;
    position: absolute;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
  .btn-back:hover:after {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

.close {
  font-size: 30px; }

label {
  color: #4D4D4D;
  font-weight: 400; }
  label.error {
    width: 100%;
    background: #e03e3e;
    padding: 8px 8px;
    border-radius: 0;
    color: white;
    margin-top: 10px; }
  label .required {
    color: red;
    margin-left: 5px; }
  label .optional {
    color: #929292;
    font-size: 12px; }

.label-primary {
  background-color: #4D4D4D;
  font-size: 14px;
  font-weight: 400; }

select.form-control {
  color: #797979;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../../images/icons/caret.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 12px; }

input::-ms-clear {
  display: none; }

.field-wrap {
  position: relative; }
  .field-wrap i {
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 16px;
    color: #CCCCCC;
    pointer-events: none; }
  .field-wrap .form-control:focus + i {
    color: #666666; }
  .field-wrap .form-control {
    padding-left: 13px; }
  .field-wrap .datepicker {
    padding-left: 20px; }
    .field-wrap .datepicker.valid {
      background-position: 90% center; }
    .field-wrap .datepicker.error {
      background-position: 90% center; }
  .field-wrap .datepicker + i {
    left: auto;
    right: 10px;
    pointer-events: initial;
    cursor: pointer; }
  .field-wrap .icon-calendar {
    left: auto;
    right: 10px; }
  .field-wrap .icon-align-right {
    padding-left: 20px; }
    .field-wrap .icon-align-right + i {
      left: auto;
      right: 10px; }

.field-controls i {
  float: right;
  margin-left: 8px;
  font-size: 20px;
  cursor: pointer;
  color: #4D4D4D; }

.field-controls .icon-x-circle {
  color: red; }

.field-controls.editing > i {
  display: none; }

.label-edit i {
  font-size: 12px;
  color: #4D4D4D;
  margin-top: 6px; }

.label-edit input {
  border: none;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 5px;
  margin-top: -3px;
  outline: none; }

.field-controls-icons {
  position: absolute;
  top: 33px;
  right: -60px; }

.form-control {
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
  font-size: 14px;
  color: #4D4D4D;
  border-color: #CCCCCC;
  border-width: 1px;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent;
  -webkit-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  -webkit-appearance: none; }
  .form-control:focus {
    border-color: #666666; }
  .form-control.error {
    background-image: url("../images/icons/cross.svg");
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 15px;
    padding-right: 35px; }
  .form-control.valid {
    background-image: url("../images/icons/tick.svg");
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 17px;
    padding-right: 35px; }

.no-validation-visuals .form-control.error {
  background-image: none; }

.no-validation-visuals .form-control.valid {
  background-image: none; }

.form-control::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #929292;
  opacity: 1;
  /* Firefox */ }

.form-control:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #929292;
  opacity: 1;
  /* Firefox */ }

.form-control::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #929292;
  opacity: 1;
  /* Firefox */ }

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #929292;
  opacity: 1;
  /* Firefox */ }

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #929292; }

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #929292; }

.alert-good {
  background: #e6ee9c;
  border: 1px solid #8bc34a; }
  .alert-good p {
    color: #8bc34a; }
  .alert-good .close {
    color: #8bc34a;
    width: auto; }

.alert-bad {
  background: #ffab91;
  border: 1px solid #bf360c; }
  .alert-bad p {
    color: #bf360c; }
  .alert-bad .close {
    color: #bf360c;
    width: auto; }

main + .alert-messages-block,
.alert-main {
  position: fixed;
  bottom: 0px;
  padding: 0 35px;
  float: left;
  width: 100%;
  padding-left: 335px; }
  @media (max-width: 991px) {
    main + .alert-messages-block,
    .alert-main {
      padding-left: 285px; } }
  @media (max-width: 767px) {
    main + .alert-messages-block,
    .alert-main {
      padding-left: 20px;
      padding-right: 20px; } }

.modal-footer {
  padding: 20px 15px 0px; }

.top-bar {
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #F2F2F2;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding: 0 20px;
  position: relative; }
  @media (max-width: 767px) {
    .top-bar {
      padding: 0 20px; } }
  .top-bar p {
    margin: 0;
    font-size: 25px; }
  .top-bar .company {
    float: left;
    position: relative;
    z-index: 1;
    font-size: 24px; }
  .top-bar .brand {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 30px; }
    @media (max-width: 767px) {
      .top-bar .brand {
        text-align: left; } }

.navbar-primary {
	height: 0;
  padding: 0;
  background: none;
  border-radius: 0;
  margin: 0;
  min-height: 0;
  border: 0; }
  @media (min-width: 767px) {
	 .navbar-primary .container-fluid,
  .navbar-primary .container-fluid .collapse.navbar-collapse{
	  height: 0 !important;
  } 
  }
 
  @media (max-width: 767px) {
	  .top-bar .navbar-toggle{
		  background: #000000;
		  transform: none;
		  margin: 23px 0
	  }
    .navbar-primary {
      padding: 0;
      margin: 0 -15px; }
.navbar-primary .container-fluid{
	height:0;
}	  
.navbar-collapse{
	background: #F2F2F2;
    position: absolute;
    width: 100%;
    top: 80px;
    z-index: 9;
}
}
  .navbar-primary li > a {
    color: #A6A6A6;
    font-size: 16px;
    line-height: 80px;
    padding: 0 24px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media (max-width: 767px) {
      .navbar-primary li > a {
        line-height: 50px; } }
    .navbar-primary li > a:hover {
      color: #EE2A7B;
      background-color: #ECECEC; }
    @media (max-width: 991px) {
      .navbar-primary li > a {
        padding: 0 7px; } }
  .navbar-primary li.open > a {
    color: #EE2A7B;
    background-color: transparent !important; }
    .navbar-primary li.open > a:hover, .navbar-primary li.open > a:focus {
      color: #EE2A7B;
      background-color: #ECECEC; }
  .navbar-primary .navbar-left {
    margin-left: 50px; }
    @media (max-width: 767px) {
      .navbar-primary .navbar-left {
        margin-left: 0; } }
    .navbar-primary .navbar-left li > a > i {
      font-size: 20px;
      margin-right: 10px; }
      @media (max-width: 991px) {
        .navbar-primary .navbar-left li > a > i {
          margin-right: 5px; } }
  .navbar-primary li.active > a {
    color: #EE2A7B;
    background-color: #ECECEC;
    font-weight: 700; }
  .navbar-primary .navbar-right li > a {
    color: #EE2A7B;
    font-weight: 700; }
    .navbar-primary .navbar-right li > a:hover {
      color: #EE2A7B;
      background-color: transparent !important; }
    .navbar-primary .navbar-right li > a:focus {
      background-color: transparent !important; }
    .navbar-primary .navbar-right li > a i {
      margin-left: 12px;
      float: right;
      line-height: 65px; }
  @media (max-width: 767px) {
    .navbar-primary .navbar-right {
      padding: 0;
      margin: 0px; }
      .navbar-primary .navbar-right .navbar-left {
        margin-left: 0; }
      .navbar-primary .navbar-right .navbar-nav {
        margin-top: 0;
        margin-bottom: 0; }
      .navbar-primary .navbar-right li > a {
        padding: 0px 15px; } }
  .navbar-primary .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #ffffff;
    float: left;
    margin: 13px; }
  .navbar-primary .icon-caret:before {
    font-size: 7px; }
  .navbar-primary .dropdown-toggle {
    padding-left: 30px;
    padding-right: 0; }
    @media (max-width: 991px) {
      .navbar-primary .dropdown-toggle {
        padding-left: 10px;
        padding-right: 25px; } }
    .navbar-primary .dropdown-toggle:after {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      background-image: url(../images/icons/usercaret.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      top: 30px;
      right: 12px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: -webkit-transform 0.3s ease;
      transition: -webkit-transform 0.3s ease;
      -o-transition: transform 0.3s ease;
      transition: transform 0.3s ease;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
      @media (max-width: 767px) {
        .navbar-primary .dropdown-toggle:after {
          top: 20px; } }
  @media (max-width: 767px) {
    .navbar-primary .navbar-nav {
      margin-top: 0;
      margin-bottom: 0; } }

.navbar-toggle {
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .navbar-toggle .icon-bar {
    background-color: #ffffff; }

.brand-img {
  width: 100%;
  padding: 15px; }

.dropdown-menu a {
  line-height: 36px !important; }

.user-name {
  font-weight: 400 !important;
  color: #4D4D4D !important;
  font-size: 16px; }
  .user-name:hover {
    color: #EE2A7B !important; }

.logout {
  color: #00ACDC !important;
  text-decoration: underline;
  font-size: 16px; }
  .logout:hover {
    color: #EE2A7B !important; }

.brand-img-nav {
  width: 36px; }

.body-container {
  padding: 40px 0; }

.footer {
  text-align: center;
  height: 50px;
  line-height: 50px;
  background: #ffe53c;
  clear: both; }
  .footer p {
    margin: 0;
    color: #000;
    float: left;
    width: 100%; }

main {
  min-height: calc(100% - 161px);
  position: relative; }

.page-wrap {
  position: static;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; }

.page-wrap:after {
  content: "";
  display: block; }

.footer,
.page-wrap:after {
  height: 50px; }

.page-wrapper {
  padding: 30px 20px; }
  .page-wrapper h1 {
    margin: 0 0 30px 0;
    font-size: 27px; }
  .page-wrapper h2 {
    margin: 0 0 20px 0;
    font-size: 27px; }
  .page-wrapper .form-group,
  .page-wrapper .form-group-full {
    margin-bottom: 30px; }
  .page-wrapper .info {
    margin-bottom: 30px; }
  @media (max-width: 991px) {
    .page-wrapper {
      margin-left: 250px; } }
  @media (max-width: 767px) {
    .page-wrapper {
      margin-left: 0;
      padding: 30px 5px; } }

/*
 * Table styles
 */
table.dataTable {
  width: 100%;
  float: left;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0;
  /*
     * Header and footer styles
     */
  /*
     * Body styles
     */
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  table.dataTable thead th,
  table.dataTable tfoot th {
    font-weight: bold;
    /* font-size: 16px; */ }
  table.dataTable thead th,
  table.dataTable thead td {
    padding: 10px 10px;
    border-bottom: 0px solid #111111; }
  table.dataTable thead th:active,
  table.dataTable thead td:active {
    outline: none; }
  table.dataTable tfoot th,
  table.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
    border-top: 0px solid #111111; }
  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_asc_disabled,
  table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 19px; }
  table.dataTable thead .sorting .sorting_icon,
  table.dataTable thead .sorting_asc .sorting_icon,
  table.dataTable thead .sorting_desc .sorting_icon,
  table.dataTable thead .sorting_asc_disabled .sorting_icon,
  table.dataTable thead .sorting_desc_disabled .sorting_icon {
    cursor: pointer;
    *cursor: hand;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 19px;
    width: 20px;
    height: 20px;
    display: inline-block;
    top: -2px;
    position: relative;
    vertical-align: middle; }
  table.dataTable thead .sorting .sorting_icon {
    background-image: url("../../images/sort_both.png"); }
  table.dataTable thead .sorting_asc .sorting_icon {
    background-image: url("../../images/sort_asc.png"); }
  table.dataTable thead .sorting_desc .sorting_icon {
    background-image: url("../../images/sort_desc.png"); }
  table.dataTable thead .sorting_asc_disabled .sorting_icon {
    background-image: url("../../images/sort_asc_disabled.png"); }
  table.dataTable thead .sorting_desc_disabled .sorting_icon {
    background-image: url("../../images/sort_desc_disabled.png"); }
  table.dataTable tbody tr {
    background-color: #ffffff;
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease; }
    table.dataTable tbody tr.selected {
      background-color: #bce0fd; }
  table.dataTable tbody th,
  table.dataTable tbody td {
    padding: 12px 16px;
    vertical-align: middle;
    outline: none !important;
    /* height: 36px; */ }
  table.dataTable.cell-border tbody th,
  table.dataTable.cell-border tbody td {
    border-top: 0px solid #dddddd;
    border-right: 0px solid #dddddd; }
  table.dataTable.cell-border tbody tr th:first-child,
  table.dataTable.cell-border tbody tr td:first-child {
    border-left: 0px solid #dddddd; }
  table.dataTable.cell-border tbody tr:first-child th,
  table.dataTable.cell-border tbody tr:first-child td {
    border-top: none; }
  table.dataTable.stripe tbody tr.odd,
  table.dataTable.display tbody tr.odd {
    background-color: #F1FAFD; }
  table.dataTable.stripe tbody tr.odd.selected,
  table.dataTable.display tbody tr.odd.selected {
    background-color: #b7daf7; }
  table.dataTable.hover tbody tr:hover,
  table.dataTable.display tbody tr:hover {
    background-color: #D7F1F9; }
  table.dataTable.hover tbody tr:hover.selected,
  table.dataTable.display tbody tr:hover.selected {
    background-color: #b5d7f3; }
  table.dataTable.order-column tbody tr > .sorting_1,
  table.dataTable.order-column tbody tr > .sorting_2,
  table.dataTable.order-column tbody tr > .sorting_3 {
    background-color: #ecf4f9; }
  table.dataTable.display tbody tr > .sorting_1,
  table.dataTable.display tbody tr > .sorting_2,
  table.dataTable.display tbody tr > .sorting_3 {
    background-color: #ecf4f9; }
  table.dataTable.order-column tbody tr.selected > .sorting_1,
  table.dataTable.order-column tbody tr.selected > .sorting_2,
  table.dataTable.order-column tbody tr.selected > .sorting_3 {
    background-color: #b8dbf7; }
  table.dataTable.display tbody tr.selected > .sorting_1,
  table.dataTable.display tbody tr.selected > .sorting_2,
  table.dataTable.display tbody tr.selected > .sorting_3 {
    background-color: #b8dbf7; }
  table.dataTable.display tbody tr.odd > .sorting_1 {
    background-color: transparent; }
  table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: transparent; }
  table.dataTable.display tbody tr.odd > .sorting_2,
  table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
    background-color: #e5edf3; }
  table.dataTable.display tbody tr.odd > .sorting_3,
  table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
    background-color: #e7eff5; }
  table.dataTable.display tbody tr.odd.selected > .sorting_1,
  table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
    background-color: #b1d3ef; }
  table.dataTable.display tbody tr.odd.selected > .sorting_2,
  table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
    background-color: #b3d5f1; }
  table.dataTable.display tbody tr.odd.selected > .sorting_3,
  table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
    background-color: #b4d7f3; }
  table.dataTable.display tbody tr.even > .sorting_1,
  table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #c3c3c300; }
  table.dataTable.display tbody tr.even > .sorting_2,
  table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
    background-color: #eef6fb; }
  table.dataTable.display tbody tr.even > .sorting_3,
  table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
    background-color: #f0f8fd; }
  table.dataTable.display tbody tr.even.selected > .sorting_1,
  table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
    background-color: #b8dbf7; }
  table.dataTable.display tbody tr.even.selected > .sorting_2,
  table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
    background-color: #b9ddf9; }
  table.dataTable.display tbody tr.even.selected > .sorting_3,
  table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
    background-color: #bbdffb; }
  table.dataTable.display tbody tr:hover > .sorting_1,
  table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
    background-color: transparent; }
  table.dataTable.display tbody tr:hover > .sorting_2,
  table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
    background-color: #dee6eb; }
  table.dataTable.display tbody tr:hover > .sorting_3,
  table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
    background-color: #e1e9ee; }
  table.dataTable.display tbody tr:hover.selected > .sorting_1,
  table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
    background-color: #accde8; }
  table.dataTable.display tbody tr:hover.selected > .sorting_2,
  table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
    background-color: #adcfea; }
  table.dataTable.display tbody tr:hover.selected > .sorting_3,
  table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
    background-color: #b0d1ed; }
  table.dataTable.no-footer {
    border-bottom: 0px solid #111111; }
  table.dataTable.nowrap th,
  table.dataTable.nowrap td {
    white-space: nowrap; }
  table.dataTable.compact thead th,
  table.dataTable.compact thead td {
    padding: 4px 17px 4px 4px; }
  table.dataTable.compact tfoot th,
  table.dataTable.compact tfoot td {
    padding: 4px; }
  table.dataTable.compact tbody th,
  table.dataTable.compact tbody td {
    padding: 4px; }
  table.dataTable th.dt-left,
  table.dataTable td.dt-left {
    text-align: left; }
  table.dataTable th.dt-center {
    text-align: center; }
  table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
    text-align: center; }
  table.dataTable th.dt-right,
  table.dataTable td.dt-right {
    text-align: right; }
  table.dataTable th.dt-justify,
  table.dataTable td.dt-justify {
    text-align: justify; }
  table.dataTable th.dt-nowrap,
  table.dataTable td.dt-nowrap {
    white-space: nowrap; }
  table.dataTable thead th.dt-head-left,
  table.dataTable thead td.dt-head-left {
    text-align: left; }
  table.dataTable tfoot th.dt-head-left,
  table.dataTable tfoot td.dt-head-left {
    text-align: left; }
  table.dataTable thead th.dt-head-center,
  table.dataTable thead td.dt-head-center {
    text-align: center; }
  table.dataTable tfoot th.dt-head-center,
  table.dataTable tfoot td.dt-head-center {
    text-align: center; }
  table.dataTable thead th.dt-head-right,
  table.dataTable thead td.dt-head-right {
    text-align: right; }
  table.dataTable tfoot th.dt-head-right,
  table.dataTable tfoot td.dt-head-right {
    text-align: right; }
  table.dataTable thead th.dt-head-justify,
  table.dataTable thead td.dt-head-justify {
    text-align: justify; }
  table.dataTable tfoot th.dt-head-justify,
  table.dataTable tfoot td.dt-head-justify {
    text-align: justify; }
  table.dataTable thead th.dt-head-nowrap,
  table.dataTable thead td.dt-head-nowrap {
    white-space: nowrap; }
  table.dataTable tfoot th.dt-head-nowrap,
  table.dataTable tfoot td.dt-head-nowrap {
    white-space: nowrap; }
  table.dataTable tbody th.dt-body-left,
  table.dataTable tbody td.dt-body-left {
    text-align: left; }
  table.dataTable tbody th.dt-body-center,
  table.dataTable tbody td.dt-body-center {
    text-align: center; }
  table.dataTable tbody th.dt-body-right,
  table.dataTable tbody td.dt-body-right {
    text-align: right; }
  table.dataTable tbody th.dt-body-justify,
  table.dataTable tbody td.dt-body-justify {
    text-align: justify; }
  table.dataTable tbody th.dt-body-nowrap,
  table.dataTable tbody td.dt-body-nowrap {
    white-space: nowrap; }
  table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
  table.dataTable td {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-right: 0;
    border-left: 0; }

/* table.dataTable.row-border tbody th,
  table.dataTable.row-border tbody td,
  table.dataTable.display tbody th,
  table.dataTable.display tbody td {
      border-top: 0px solid #dddddd;
  }
  
  table.dataTable.row-border tbody tr:first-child th,
  table.dataTable.row-border tbody tr:first-child td,
  table.dataTable.display tbody tr:first-child th,
  table.dataTable.display tbody tr:first-child td {
      border-top: none;
  } */
/*
     * Control feature layout
     */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
  float: left;
  width: 100%; }
  .dataTables_wrapper .dataTables_length {
    float: left;
    padding-top: 0.75em; }
  .dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right; }
    .dataTables_wrapper .dataTables_filter input {
      margin-left: 0.5em; }
  .dataTables_wrapper .dataTables_info {
    float: left;
    padding-top: 1.7em;
    padding-left: 1em;
    font-size: 12px; }
    .dataTables_wrapper .dataTables_info:before {
      content: "|";
      padding-right: 1em; }
  .dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.75em; }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      min-width: 1.5em;
      padding: 0.2em 0.8em;
      margin-left: 2px;
      text-align: center;
      text-decoration: none !important;
      cursor: pointer;
      *cursor: hand;
      color: #4D4D4D !important;
      background: #F2F2F2;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        color: #ffffff !important;
        border: none;
        background-color: #4d4d4d;
        background: #4d4d4d;
        border-radius: 4px; }
        .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
          color: #ffffff !important;
          border: none;
          background-color: #4d4d4d;
          background: #4d4d4d; }
      .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
        cursor: default;
        color: #666 !important;
        border: 1px solid transparent;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
          cursor: default;
          color: #666 !important;
          border: 1px solid transparent;
          background: transparent;
          -webkit-box-shadow: none;
          box-shadow: none; }
      .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: #ffffff !important;
        background-color: #4d4d4d;
        background: #4d4d4d; }
      .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        outline: none;
        color: #ffffff !important;
        background-color: #4d4d4d;
        background: #4d4d4d; }
    .dataTables_wrapper .dataTables_paginate .ellipsis {
      padding: 0 1em; }
  .dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(241, 249, 255, 0)), color-stop(25%, rgba(241, 249, 255, 0.9)), color-stop(75%, rgba(241, 249, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(241, 249, 255, 0) 0%, rgba(241, 249, 255, 0.9) 25%, rgba(241, 249, 255, 0.9) 75%, rgba(241, 249, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(241, 249, 255, 0) 0%, rgba(241, 249, 255, 0.9) 25%, rgba(241, 249, 255, 0.9) 75%, rgba(241, 249, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(241, 249, 255, 0) 0%, rgba(241, 249, 255, 0.9) 25%, rgba(241, 249, 255, 0.9) 75%, rgba(241, 249, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(241, 249, 255, 0) 0%, rgba(241, 249, 255, 0.9) 25%, rgba(241, 249, 255, 0.9) 75%, rgba(241, 249, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(241, 249, 255, 0)), color-stop(25%, rgba(241, 249, 255, 0.9)), color-stop(75%, rgba(241, 249, 255, 0.9)), to(rgba(241, 249, 255, 0)));
    background: linear-gradient(to right, rgba(241, 249, 255, 0) 0%, rgba(241, 249, 255, 0.9) 25%, rgba(241, 249, 255, 0.9) 75%, rgba(241, 249, 255, 0) 100%);
    padding: 0; }
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_processing,
  .dataTables_wrapper .dataTables_paginate {
    color: #4D4D4D; }
  .dataTables_wrapper .dataTables_scroll {
    clear: both; }
    .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
      *margin-top: -1px;
      -webkit-overflow-scrolling: touch; }
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th,
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td {
        vertical-align: middle; }
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th,
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
        vertical-align: middle; }
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing {
        height: 0;
        overflow: hidden;
        margin: 0 !important;
        padding: 0 !important; }
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
        height: 0;
        overflow: hidden;
        margin: 0 !important;
        padding: 0 !important; }
  .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0px solid #111111; }
  .dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
  .dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
    border-bottom: none; }
  .dataTables_wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
    margin-top: 0.5em; } }

@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
    margin-top: 0.5em; } }

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.child {
  cursor: default !important; }

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
  cursor: default !important; }

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child:before {
  display: none !important; }

table.dataTable.dtr-inline.collapsed > tbody > tr > th.child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty:before {
  display: none !important; }

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
  position: relative;
  padding-left: 40px;
  cursor: pointer; }

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
  top: 50%;
  left: 4px;
  height: 14px;
  width: 14px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  -webkit-box-shadow: 0 0 3px #444;
  box-shadow: 0 0 3px #444;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: 'Courier New', Courier, monospace;
  line-height: 14px;
  content: '+';
  background-color: #31b131;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  content: '-';
  background-color: #d33333; }

table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child {
  padding-left: 27px; }

table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child:before {
  top: 5px;
  left: 4px;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  line-height: 14px;
  text-indent: 3px; }

table.dataTable.dtr-column > tbody > tr > td.control,
table.dataTable.dtr-column > tbody > tr > th.control {
  position: relative;
  cursor: pointer; }

table.dataTable.dtr-column > tbody > tr > td.control:before,
table.dataTable.dtr-column > tbody > tr > th.control:before {
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  margin-top: -10px;
  margin-left: -10px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  -webkit-box-shadow: 0 0 3px #444;
  box-shadow: 0 0 3px #444;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: 'Courier New', Courier, monospace;
  line-height: 14px;
  content: '+';
  background-color: #31b131; }

table.dataTable.dtr-column > tbody > tr.parent td.control:before,
table.dataTable.dtr-column > tbody > tr.parent th.control:before {
  content: '-';
  background-color: #d33333; }

table.dataTable > tbody > tr.child {
  padding: 0.5em 1em; }
  table.dataTable > tbody > tr.child:hover {
    background: transparent !important; }
  table.dataTable > tbody > tr.child ul.dtr-details {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    table.dataTable > tbody > tr.child ul.dtr-details > li {
      border-bottom: 1px solid #efefef;
      padding: 0.5em 0; }
      table.dataTable > tbody > tr.child ul.dtr-details > li:first-child {
        padding-top: 0; }
      table.dataTable > tbody > tr.child ul.dtr-details > li:last-child {
        border-bottom: none; }
  table.dataTable > tbody > tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-weight: bold; }

div.dtr-modal {
  position: fixed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 10em 1em; }
  div.dtr-modal div.dtr-modal-display {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    z-index: 102;
    overflow: auto;
    background-color: #f5f5f7;
    border: 1px solid black;
    border-radius: 0.5em;
    -webkit-box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6); }
  div.dtr-modal div.dtr-modal-content {
    position: relative;
    padding: 1em; }
  div.dtr-modal div.dtr-modal-close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 22px;
    height: 22px;
    border: 1px solid #eaeaea;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    z-index: 12; }
    div.dtr-modal div.dtr-modal-close:hover {
      background-color: #eaeaea; }
  div.dtr-modal div.dtr-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.6); }

@media screen and (max-width: 767px) {
  div.dtr-modal div.dtr-modal-display {
    width: 95%; } }

.dataTables_wrapper select {
  font-size: 14px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent;
  -webkit-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  color: #797979;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../../images/icons/caret.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 12px;
  padding: 5px;
  min-width: 70px;
  margin: 0 5px; }
  .dataTables_wrapper select:focus {
    outline: none;
    border-color: #666666; }

td .check-main-block {
  margin: 0; }

/*Datatable*/
.grid-table-action .btn {
  padding: 15px 15px; }

.grid-table-action a {
  margin-bottom: 10px;
  margin-right: 10px; }
  @media (max-width: 767px) {
    .grid-table-action a {
      margin-right: 0px; } }

.table-wrapper {
  position: relative;
  overflow: hidden;
  height: 20px; }
  .table-wrapper:before {
    content: "Loading...";
    background: white;
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle; }
  .table-wrapper.loaded {
    height: auto; }
  .table-wrapper.loaded:before {
    display: none; }
  .table-wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(241, 249, 255, 0)), color-stop(25%, rgba(241, 249, 255, 0.9)), color-stop(75%, rgba(241, 249, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(241, 249, 255, 0) 0%, rgba(241, 249, 255, 0.9) 25%, rgba(241, 249, 255, 0.9) 75%, rgba(241, 249, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(241, 249, 255, 0) 0%, rgba(241, 249, 255, 0.9) 25%, rgba(241, 249, 255, 0.9) 75%, rgba(241, 249, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(241, 249, 255, 0) 0%, rgba(241, 249, 255, 0.9) 25%, rgba(241, 249, 255, 0.9) 75%, rgba(241, 249, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(241, 249, 255, 0) 0%, rgba(241, 249, 255, 0.9) 25%, rgba(241, 249, 255, 0.9) 75%, rgba(241, 249, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(241, 249, 255, 0)), color-stop(25%, rgba(241, 249, 255, 0.9)), color-stop(75%, rgba(241, 249, 255, 0.9)), to(rgba(241, 249, 255, 0)));
    background: linear-gradient(to right, rgba(241, 249, 255, 0) 0%, rgba(241, 249, 255, 0.9) 25%, rgba(241, 249, 255, 0.9) 75%, rgba(241, 249, 255, 0) 100%);
    padding: 0;
    z-index: 1; }

.table-controls {
  /* clear: both; */
  margin-top: 29px;
  float: left;
  width: 100%; }

.btn-primary {
  color: #000;
  font-size: 16px;
  font-weight: 700 !important;
  height: 44px;
  width: auto;
  padding: 0 20px;
  border-radius: 0;
  margin-bottom: 20px; }
  .btn-primary:hover {
    outline: none;
    border-color: transparent !important; }
  .btn-primary:focus {
    outline: 0 !important;
    border-color: transparent !important; }

.user-page-container {
  width: 85%; }
  @media (max-width: 992px) {
    .user-page-container {
      width: 90%; } }

.modal button {
  float: right; }

.modal .cancel-btn {
  background: #F2f2f2!important;
    border: #CCCCCC !important;
    color: #7d7a7a; }

  
.user-name:hover{
	    color: #4D4D4D !important;
		cursor: default;
}
.user-name.logout:hover{
	    color: #EE2A7B !important;
		cursor: pointer;
}

.modal-body label{
	font-weight:bold;
	margin-bottom: 8px;
	    margin-top: 5px;
}

.modal-body {
    padding: 15px 30px !important;
}

.modal-title {
    font-weight:bold;
	    padding: 4px 15px 0px;
}

.modal-footer button {
	width: 125px;
}
.db-edit-btn {
    width: 32px;
    height: 32px;
    background: url(../../images/icons/edit.svg);
    float: left;
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}
.db-delete-btn {
    width: 32px;
    height: 32px;
    background: url(../../images/icons/delete.svg);
    float: left;
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}
.timepicker .icon-calendar {
    background: url(../../images/icons/clock.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    float: right;
    top: 14px;
    cursor: pointer;
}
.timepicker .icon-calendar:before {
	content:''
	
}
textarea{
	height: 75px !important;
	padding: 10px 20px !important;
	line-height: 15px !important;
}
input[type=file] {
    padding-top: 10px;
    line-height: 0;
} 
.dataTable.speaker-table td {
  padding: 12px 35px;
}
.dataTable.speaker-act td {
  padding: 10px 40px;
}
table.dataTable td:last-child{
width: 80px;
padding: 12px 0;
}