// Colors
$white: #ffffff;
$blue: #4FC3F7 !default;
$light-blue: #BCE0FD !default;
$lightest-blue: #F1F9FF !default;
$primary-color:#4FC3F7 !default;
$secondary-color:#4D4D4D !default;
$secondary-light-color:#CCCCCC !default;
$secondary-color-active:#000000 !default;
$warning-color:#ffc107!default;
$link-color:#4FC3F7 !default;
$error-color:#e03e3e !default;
$greenlight:#e6ee9c;
$green:#8bc34a;
$redlight:#ffab91;
$red:#bf360c;
$topbar-height:70px !default;
$topbar-color:#4FC3F7 !default;
$nav-height:70px !default;
$nav-bg:#F2F2F2 !default;
$nav-link-color:#8C8C8C !default;
$nav-link-hover-color:#4D4D4D !default;
$nav-link-hover-bg:#E5E5E5 !default;
$placeholder-color:#929292 !default;
// Font
$base-font-size: 14px;
$heading-font-family: 'Noto Sans',
Sans-Serif;
$heading-color: #4D4D4D;
$base-font-family: 'Inter UI',
Sans-Serif;
$h1:18px;
$page-title:24px;
$heading-weight:700;
$normal:400;
$bold:700;
// Border
$base-border-radius: 4px;
//Form
$label-color:#4D4D4D !default;
$field-text-color:#4D4D4D !default;
$field-text-size: 14px;
$field-height:45px;
$field-padding:0 20px;
$form-small:360px;
//Buttons
$btn-text-size:14px;
$btn-text-weight: 700;
$btn-text-padding: 15px 10px;
$btn-primary-color:#ffffff !default;
$btn-primary-background:#4FC3F7 !default;
// $btn-primary-hover-background:#4FC3F7 !default;
$btn-secondary-color:#ffffff !default;
$btn-secondary-background:#999999 !default;
// $btn-secondary-hover-background:#999999 !default;
//Sidebar
$sidebar-bg:#4D4D4D !default;
$sidebar-color:#CCCCCC !default;
$sidebar-hover-color:#FFFFFF !default;
$sidebar-width:300px !default;
$sidebar-font:12px !default;
$sidebar-list-hover-bg:#343434;
$sidebar-link-color:#4FC3F7;
//Footer
$footer-height:50px;
$footer-bg:#4FC3F7 !default;
$btn-default-color:#4FC3F7 !default;
$btn-default-background:#f1f9ff !default;
//Tables
$row-hover-bg:#f2f2f2;
$tb-btn-color:#4D4D4D;
$tb-btn-bg:#F2F2F2;
$tb-cbtn-color:#ffffff;
$tb-cbtn-bg:#4d4d4d;